/* PT Sans */
@font-face {
	font-family: 'PTSans';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/PT_Sans/PTSans-Regular.ttf') format("truetype");
}

@font-face {
	font-family: 'PTSans';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/PT_Sans/PTSans-Bold.ttf') format("truetype");
}

@font-face {
	font-family: 'PTSans';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/PT_Sans/PTSans-Italic.ttf') format("truetype");
}

@font-face {
	font-family: 'PTSans';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/PT_Sans/PTSans-BoldItalic.ttf') format("truetype");
}