@charset "UTF-8";
/* Import fonts */
@import url("../fonts/Roboto.css");
@import url("../fonts/PTSans.css");
/* Reset and normalize */
/* stylelint-disable */
* {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address,
big, code, del, dfn, em, img, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
main, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none !important;
}

[clear] {
  clear: both;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Box Model */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

button, input {
  outline: none;
}

/* stylelint-enable */
/* Style */
/*=================================
	Variables
=================================*/
:root {
  --circle: #F99589;
  --main-color: #F75D4A;
  --secondary-сolor: #434343;
  --footer-color: #65A3BE;
  --circle-hover: #CC4836;
  --main-hover-color: #D64836;
  --footer-hover-color: #548EB2;
  --star: #ECEC02;
  --link: #65B7E0;
  --initials: #F75C49;
  --table-even: #F9F5F9;
}

/*=================================
	Keyframes
=================================*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

/*=================================
	Component
=================================*/
.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0.125em;
  text-shadow: 4px 1px 0px var(--secondary-сolor), -4px -1px 0px var(--main-color);
  color: white;
}

.but {
  position: relative;
  z-index: 1;
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  letter-spacing: 0.05em;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.but::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  background-color: var(--main-color);
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.but:hover {
  color: white;
}

.but:hover::before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.add__button {
  width: 170px;
  height: 50px;
  font-size: 24px;
}

.service {
  width: 100%;
  height: 10px;
}

.service .cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--secondary-сolor);
  text-align: center;
  cursor: pointer;
}

.center__line {
  width: 500px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--secondary-сolor);
}

.title {
  font-size: 34px;
  margin: 30px 0px 40px 0px;
  text-align: center;
  color: var(--secondary-сolor);
}

.description {
  width: 100%;
}

.description p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: normal;
  color: var(--secondary-сolor);
}

.photo-conteiner {
  width: 320px;
  height: 320px;
  background: var(--table-even);
  overflow: hidden;
}

.photo-conteiner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-20 img {
  width: 100%;
  height: 100%;
}

/*=================================
	Layout
=================================*/
.wrapper {
  min-height: 100%;
  min-width: 768px;
}

.content {
  width: 100%;
  height: 100%;
}

.conteiner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 40px 100px 50px 100px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*=================================
	MAIN
=================================*/
/* HEAD */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.header .header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header__bottom .header__button {
  width: 170px;
  height: 50px;
  font-size: 24px;
}

.model-search {
  width: 300px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model-search #headerSearch {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model-search #headerSearch .form__input {
  width: 190px;
  height: 100%;
  padding: 10px;
}

.model-search #headerSearch .form__button {
  height: 100%;
  width: 90px;
  margin-left: 20px;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu__list li {
  margin-right: 40px;
}

.menu .menu__list li:last-child {
  margin-right: 0;
}

.menu .menu__list .menu__item a {
  font-size: 24px;
  text-decoration: none;
}

.menu .menu__list .menu__item a:hover {
  color: var(--hover-color);
}

.menu._header .menu__item a {
  color: var(--main-color);
}

.menu._header .menu__item a:hover {
  color: var(--main-hover-color);
}

.menu._footer .menu__item a {
  color: var(--footer-color);
}

.menu._footer .menu__item a:hover {
  color: var(--footer-hover-color);
}

/* MAIN */
.main {
  width: 100%;
  min-height: calc(100vh - 290px);
  padding: 40px 0px 30px 0px;
}

/* SECTIONS */
section {
  margin-bottom: 50px;
}

section:last-child {
  margin-bottom: 0;
}

section:last-child .center__line {
  margin-bottom: 40px;
}

#statistics .statistics__body {
  width: 100%;
}

.statistics__table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  margin-bottom: 60px;
}

.statistics__table thead {
  font-size: 22px;
}

.statistics__table thead tr {
  height: 36px;
}

.statistics__table thead tr th {
  position: relative;
  cursor: pointer;
}

.statistics__table thead tr th:first-child {
  text-align: initial;
}

.statistics__table thead tr th::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-сolor);
  display: none;
}

.statistics__table thead tr th:hover::after {
  display: block;
}

.statistics__table tbody tr {
  height: 40px;
}

.statistics__table tbody tr:first-child {
  border-top: 1px solid black;
}

.statistics__table tbody tr:nth-child(even) {
  background-color: var(--table-even);
}

.statistics__table tbody tr td {
  vertical-align: middle;
}

.statistics__table tbody tr td:nth-child(2), .statistics__table tbody tr td:nth-child(3), .statistics__table tbody tr td:nth-child(4) {
  text-align: center;
}

.statistics__table tfoot tr {
  height: 50px;
}

.statistics__table tfoot tr td {
  vertical-align: bottom;
}

.statistics__table tfoot a {
  text-decoration: none;
  color: var(--link);
  margin-right: 5px;
}

.statistics__table tfoot a._current {
  pointer-events: none;
  color: var(--secondary-сolor);
  cursor: auto;
}

.statistics__table tfoot span {
  margin-right: 5px;
}

.statistics__table thead th, .statistics__table tbody td, .statistics__table tfoot td {
  padding: 0px 10px;
}

#teachers .teachers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.filter span {
  display: block;
  margin-right: 10px;
}

.filter .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.filter .options .options__item .options__input, .filter .options .options__item .options__label {
  cursor: pointer;
}

.filter .options .options__item:last-child {
  position: relative;
  margin-left: 70px;
}

.filter .options .options__item:last-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 0px;
  height: 100%;
  border-left: 2px dotted black;
}

.teachers__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 30px;
}

.teachers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[5];
      grid-template-columns: repeat(5, 200px);
  grid-row-gap: 40px;
  grid-column-gap: 40px;
}

.teachers__list .teachers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 120px;
  justify-self: center;
  cursor: pointer;
}

.teachers__list .teachers__item .circle__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 50%;
  background-color: var(--circle);
  -webkit-transition: background-color .2s ease-out, -webkit-transform;
  transition: background-color .2s ease-out, -webkit-transform;
  -o-transition: transform, background-color .2s ease-out;
  transition: transform, background-color .2s ease-out;
  transition: transform, background-color .2s ease-out, -webkit-transform;
}

.teachers__list .teachers__item .circle__frame .circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  height: 94%;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.teachers__list .teachers__item .circle__frame .circle img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.teachers__list .teachers__item .circle__frame .circle img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.teachers__list .teachers__item .circle__frame .circle .initials {
  font-size: 32px;
  font-weight: bold;
  color: var(--initials);
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.teachers__list .teachers__item .circle__frame:hover {
  background-color: var(--circle-hover);
}

.teachers__list .teachers__item .circle__frame:hover .initials {
  color: var(--circle-hover);
}

.teachers__list .teachers__item .teachers__name {
  width: 100%;
  margin: 20px 0px 10px 0px;
  font-size: 24px;
  text-align: center;
}

.teachers__list .teachers__item .teachers__country {
  font-size: 13px;
  text-align: center;
}

.teachers__list .teachers__item._star .circle__frame::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  background-image: url("../images/star.svg");
}

.teachers__list .teachers__item._star:hover .circle__frame::before {
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider::before {
  position: absolute;
  content: '';
  top: 90px;
  left: -20px;
  border: solid rgba(0, 0, 0, 0.3);
  border-width: 0 6px 6px 0;
  display: inline-block;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 30px;
  height: 30px;
  cursor: auto;
}

.slider::after {
  position: absolute;
  content: '';
  top: 90px;
  right: -20px;
  border: solid rgba(0, 0, 0, 0.6);
  border-width: 0 6px 6px 0;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  width: 100%;
}

/*=================================
	Dialog (Model windiws)
=================================*/
body._dialog {
  overflow: hidden;
}

.dialog {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  overflow-y: auto;
  overflow-x: hidden;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 80px 50px 80px;
  background-color: white;
  border: 1px solid var(--secondary-сolor);
  position: relative;
  z-index: 101;
}

.form .form__title {
  margin-bottom: 30px;
}

.form .form__button {
  font-size: 32px;
  width: 100%;
  height: 60px;
}

.form .form__item {
  width: 300px;
  margin: 0px 0px 20px 0px;
}

.form .form__item .form__label {
  display: block;
  text-align: start;
  margin: 0px 0px 5px 0px;
  font-size: 16px;
  float: left;
}

.form .form__item .form__input, .form .form__item #formCountry {
  height: 35px;
  width: 100%;
  padding: 0px 15px;
  font-size: 16px;
}

.form .form__item input[name="age"], .form .form__item select[name="country"], .form .form__item input[name="color"] {
  cursor: pointer;
}

.form .form__item .options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form .form__item .options .options__item label, .form .form__item .options .options__item input {
  cursor: pointer;
}

.form .form__item .options .options__item:first-child {
  margin-right: 5px;
}

.form .form__item._flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .form__item ._out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .form__item ._out .color__input {
  margin-left: 8px;
}

.infocard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px 80px 30px 80px;
  background-color: white;
  border: 1px solid var(--secondary-сolor);
}

.infocard .form__title {
  margin: 0px 0px 30px 0px;
}

.infocard .comment__out {
  width: 740px;
}

.infocard .map {
  width: 100%;
  text-align: start;
}

.infocard .map a {
  text-decoration: none;
  color: var(--link);
  border-bottom: 1px dashed var(--link);
  float: left;
}

.infocard .infocard__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 380px;
  height: 320px;
  margin-left: 40px;
  color: var(--secondary-сolor);
}

.person .person__item {
  width: 100%;
  margin-bottom: 20px;
  text-align: start;
  font-size: 16px;
}

.person .person__item:first-child {
  margin-bottom: 40px;
}

.person .person__item:last-child {
  margin-bottom: 0;
}

.person .person__item .person__fullname {
  font-size: 36px;
}

.person .person__item .person__mobile, .person .person__item .person__email {
  display: block;
}

.person .person__item .person__email {
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--link);
  display: block;
  text-align: start;
}

.person .person__item .person__mobile {
  text-align: start;
}

.person::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  background-image: url("../images/star_border.svg");
  cursor: pointer;
}

/*=================================
	@Media
=================================*/
@media (max-width: 1400px) {
  .teachers__top .teachers__list {
    -ms-grid-columns: (calc(170px + (200 - 170) * ((100vw - 768px) / (1400 - 768))))[5];
        grid-template-columns: repeat(5, calc(170px + (200 - 170) * ((100vw - 768px) / (1400 - 768))));
    grid-column-gap: calc(0px + (40 - 0) * ((100vw - 768px) / (1400 - 768)));
  }
  .slider .teachers__list {
    -ms-grid-columns: (calc(160px + (200 - 160) * ((100vw - 1200px) / (1400 - 1200))))[5];
        grid-template-columns: repeat(5, calc(160px + (200 - 160) * ((100vw - 1200px) / (1400 - 1200))));
  }
  .content__body {
    padding: 40px calc(20px + (100 - 20) * ((100vw - 768px) / (1400 - 768))) 50px calc(20px + (100 - 20) * ((100vw - 768px) / (1400 - 768)));
  }
}

@media (max-width: 1200px) {
  .slider .teachers__list {
    -ms-grid-columns: (calc(160px + (200 - 160) * ((100vw - 768px) / (1200 - 768))))[4];
        grid-template-columns: repeat(4, calc(160px + (200 - 160) * ((100vw - 768px) / (1200 - 768))));
    grid-column-gap: calc(0px + (40 - 0) * ((100vw - 768px) / (1200 - 768)));
  }
  .slider .teachers__list .teachers__item:last-child {
    display: none;
  }
  .slider::before {
    left: calc(10px + (-20 + 10) * ((100vw - 768px) / (1200 - 768)));
  }
  .slider::after {
    right: calc(10px + (-20 + 10) * ((100vw - 768px) / (1200 - 768)));
  }
}

@media (max-width: 1024px) {
  .teachers__top .teachers__list {
    -ms-grid-columns: (calc(190px + (200 - 190) * ((100vw - 768px) / (1024 - 768))))[4];
        grid-template-columns: repeat(4, calc(190px + (200 - 190) * ((100vw - 768px) / (1024 - 768))));
  }
}

@media (max-width: 768px) {
  .content__body {
    padding: 40px 20px 50px 20px;
  }
  .slider .teachers__list {
    -ms-grid-columns: (160px)[4];
        grid-template-columns: repeat(4, 160px);
    grid-column-gap: 0px;
  }
  .slider::before {
    left: 10px;
  }
  .slider::after {
    right: 10px;
  }
}
