/*=================================
	Variables
=================================*/

:root {
	--circle: #F99589;
	--main-color: #F75D4A;
	--secondary-сolor: #434343;
	--footer-color: #65A3BE;

	--circle-hover: #CC4836;
	--main-hover-color: #D64836;
	--footer-hover-color: #548EB2;

	--star: #ECEC02;
	--link: #65B7E0;
	--initials: #F75C49;
	--table-even: #F9F5F9;
}

//=================================
// SCSS
//=================================

@mixin flexbox($justify, $align, $direction: row) {
	display: flex;
	flex-direction: $direction;
	@if $justify == flex-start { justify-content: flex-start; }
	@else { justify-content: $justify; }
	@if $align == flex-start { align-items: flex-start; }
	@else { align-items: $align; }
}

/*=================================
	Keyframes
=================================*/

@keyframes pulse {
	0% { transform: scale(1.3); }
	50% { transform: scale(1.6); }
	100% { transform: scale(1.3); }
}

/*=================================
	Component
=================================*/

.logo {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 62px;
	letter-spacing: 0.125em;
	text-shadow: 4px 1px 0px var(--secondary-сolor), 
				-4px -1px 0px var(--main-color);
	color: white;
}

.but {
	position: relative;
	z-index: 1;
	border: 1px solid var(--main-color);
	background-color: transparent;
	color: var(--main-color);
	letter-spacing: 0.05em;
	font-weight: bold;
	overflow: hidden;
	transition: all 150ms ease-out;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0; left: 0;
		width: 100%; height: 100%;
		transform: translateY(100%);
		background-color: var(--main-color);
		transition: all 150ms ease-out;
	}

	&:hover { color: white; }
	&:hover::before { transform: translateY(0); }
}

.add__button {
	width: 170px;
	height: 50px;
	font-size: 24px;
}

.service {
	width: 100%;
	height: 10px;

	& .cancel {
		position: absolute;
		top: 20px; right: 20px;
		color: var(--secondary-сolor);
		text-align: center;
		cursor: pointer;
	}
}

.center__line {
	width: 500px;
	height: 1px;
	margin: 0 auto;
	background-color: var(--secondary-сolor);
}

.title {
	font-size: 34px;
	margin: 30px 0px 40px 0px;
	text-align: center;
	color: var(--secondary-сolor);
}

.description {
	width: 100%;

	& p {
		font-size: 18px;
		margin-bottom: 20px;
		line-height: normal;
		color: var(--secondary-сolor);
	}
}

.photo-conteiner {
	width: 320px; height: 320px;
	background: var(--table-even);
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.icon-20 {
	width: 20px; height: 20px;
	& img {
		width: 100%;
		height: 100%;
	}
}


/*=================================
	Layout
=================================*/

.wrapper {
	min-height: 100%;
	min-width: 768px;
}

.content {
	width: 100%; height: 100%;
}

.conteiner {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}

.content__body {
	@include flexbox(flex-start, center, column);
	width: 100%; min-height: 100vh;
	overflow: hidden;
	padding: 40px 100px 50px 100px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*=================================
	MAIN
=================================*/

/* HEAD */
.header {
	@include flexbox(space-between, center, column);
	width: 100%;

	& .header__top {
		@include flexbox(space-between, center);
		width: 100%;
		margin-bottom: 40px;
	}
	& .header__bottom {
		@include flexbox(space-between, center);
		width: 100%; 
		& .header__button {
			width: 170px;
			height: 50px;
			font-size: 24px;
		}
	}
}

.model-search {
	width: 300px; height: 40px;
	@include flexbox(center, center);

	& #headerSearch {
		width: 100%; height: 100%;
		@include flexbox(flex-end, center);

		& .form__input {
			width: 190px; height: 100%;
			padding: 10px;
		}

		& .form__button {
			height: 100%; width: 90px;
			margin-left: 20px;
		}
	}
}

.menu {
	.menu__list {
		display: flex;
		& li { margin-right: 40px; }
		& li:last-child { margin-right: 0; }
		& .menu__item a {

			font-size: 24px;
			text-decoration: none;
			&:hover { color: var(--hover-color); }
		}
	}
	&._header .menu__item a { 
		color: var(--main-color);
		&:hover { color: var(--main-hover-color); }
	}
	&._footer .menu__item a { 
		color: var(--footer-color);
		&:hover { color: var(--footer-hover-color); }
	}
}


/* MAIN */
.main {
	width: 100%; 
	min-height: calc(100vh - 290px);
	padding: 40px 0px 30px 0px;
}

/* SECTIONS */

section {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
		& .center__line { margin-bottom: 40px; }
	}
}

#statistics {
	& .statistics__body {
		width: 100%;
	}
}

.statistics__table {
	width: 100%;
	font-size:  16px;
	border-collapse: collapse;
	margin-bottom: 60px;

	& thead {
		font-size: 22px;
		& tr {
			height: 36px;
			& th {
				position: relative;
				cursor: pointer;
				&:first-child { text-align: initial; }
				&::after {
					content: '';
					position: absolute;
					bottom: 0; left: 0;
					width: 100%; height: 4px;
					background-color: var(--secondary-сolor);
					display: none;
				}
				&:hover::after { display: block; }
			}
		}
	}
	& tbody {
		& tr {
			height: 40px;
			&:first-child { border-top: 1px solid black; }
			&:nth-child(even) { background-color: var(--table-even); }
			& td {
				vertical-align: middle;

				&:nth-child(2), &:nth-child(3), &:nth-child(4) { text-align: center; }
			}
		}
	}
	& tfoot {
		& tr {
			height: 50px;
			& td {
				vertical-align: bottom;
			}
		}
		& a {
			text-decoration: none;
			color: var(--link);
			margin-right: 5px;
			&._current {
				pointer-events: none;
				color: var(--secondary-сolor);
				cursor: auto;
			}
		}
		& span { margin-right: 5px; }
	}

	& thead th, & tbody td, & tfoot td { padding: 0px 10px; }
	// & tr td:first-child, & tr th:first-child { text-align: start;}

}

#teachers {
	& .teachers__body {
		@include flexbox(flex-start, center, column);
		width: 100%;
	}
}

.filter {
	width: 100%;
	@include flexbox(flex-start, start);
	& span {
		display: block;
		margin-right: 10px
	}
	& .options {
		@include flexbox(flex-start, start);
		& .options__item {
			& .options__input, & .options__label { cursor: pointer; }
			&:last-child {
				position: relative;
				margin-left: 70px;
				&::before {
					content: '';
					position: absolute;
					top: 0; left: -20px;
					width: 0px; height: 100%;
					border-left: 2px dotted black;
				}
			}
		}
	}
}

.teachers__top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: flex-start;
	margin-top: 30px;
}

.teachers__list {
	display: grid;
	grid-template-columns: repeat(5, 200px);
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	& .teachers__item {
		@include flexbox(flex-start, center, column);
		position: relative;
		width: 120px;
		justify-self: center;
		cursor: pointer;
		& .circle__frame {
			@include flexbox(center, center);
			position: relative;
			width: 100%; height: 120px;
			border-radius: 50%;
			background-color: var(--circle);
			transition: transform, background-color .2s ease-out;
			& .circle {
				position: relative;
				@include flexbox(center, center);
				width: 94%; height: 94%;
				border-radius: 50%;
				background-color: white;
				overflow: hidden;
				& img {
					width: 100%; height: 100%;
					transition: transform .3s ease-in-out;
					&:hover { transform: scale(1.1); }
				}
				& .initials {
					font-size: 32px;
					font-weight: bold;
					color: var(--initials);
					transition: color .2s ease-in-out;
				}
			}
			&:hover { background-color: var(--circle-hover); }
			&:hover .initials { color: var(--circle-hover); }
		}
		& .teachers__name {
			width: 100%;
			margin: 20px 0px 10px 0px;
			font-size: 24px;
			text-align: center;
		}
		& .teachers__country { 
			font-size: 13px; 
			text-align: center; 
		}

		&._star {
			& .circle__frame::before {
				content: '';
				position: absolute;
				top: 0; right: 0;
				width: 16px; height: 16px;
				transform: scale(1.3);
				background-image: url('../images/star.svg');
			}
			&:hover .circle__frame::before { animation: pulse 1s ease infinite; }
		}
	}
}

.slider {
	display: flex;
	justify-content: center;
	position: relative;

	&::before {
		position: absolute;
		content: '';
		top: 90px; left: -20px;
		border: solid rgba(0, 0, 0, .3);
		border-width: 0 6px 6px 0;
		display: inline-block;
		transform: rotate(135deg);
		width: 30px; height: 30px;
		cursor: auto;
	}

	&::after {
		position: absolute;
		content: '';
		top: 90px; right: -20px;
		border: solid rgba(0, 0, 0, .6);
		border-width: 0 6px 6px 0;
		display: inline-block;
		transform: rotate(-45deg);
		width: 30px; height: 30px;
		cursor: pointer;
	}
}

/* FOOTER */
.footer {
	@include flexbox(space-between, center);
	justify-self: flex-end;
	width: 100%;
}

/*=================================
	Dialog (Model windiws)
=================================*/

body._dialog { overflow: hidden; }

.dialog {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 20;
	top: 0; left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(255,255,255, .6);
	backdrop-filter: blur(4px);
	overflow-y: auto;
	overflow-x: hidden;
}

.form {
	@include flexbox(flex-start, center, column);
	padding: 10px 80px 50px 80px;
	background-color: white;
	border: 1px solid var(--secondary-сolor);
	position: relative;
	z-index: 101;

	& .form__title {
		margin-bottom: 30px;
	}

	& .form__button {
		font-size: 32px;
		width: 100%;
		height: 60px;
	}
	
	& .form__item {
		width: 300px;
		margin: 0px 0px 20px 0px;
		& .form__label {
			display: block;
			text-align: start;
			margin: 0px 0px 5px 0px;
			font-size: 16px;
			float: left;
		}
		& .form__input, & #formCountry {
			height: 35px; width: 100%;
			padding: 0px 15px;
			font-size: 16px;
		}

		& input[name="age"], & select[name="country"], & input[name="color"] { cursor: pointer; }

		& .options {
			display: inline-flex;
			& .options__item label, & .options__item input { cursor: pointer; }
			& .options__item:first-child { margin-right: 5px; }
		}

		&._flex { @include flexbox(space-between, center); }

		& ._out {
			@include flexbox(flex-end, center);
			& .color__input { margin-left: 8px; }
		}
	}
}

.infocard {
	@include flexbox(flex-start, center, column);
	position: relative;
	padding: 40px 80px 30px 80px;
	background-color: white;
	border: 1px solid var(--secondary-сolor);

	& .form__title {
		margin: 0px 0px 30px 0px;
	}

	& .comment__out { width: 740px; }

	& .map {
		width: 100%;
		text-align: start;
		& a {
			text-decoration: none;
			color: var(--link);
			border-bottom: 1px dashed var(--link);
			float: left;
		}
	}

	& .infocard__body {
		@include flexbox(space-between, center);
		margin-bottom: 20px;
	}
}

.person {
	@include flexbox(flex-start, flex-start, column);
	position: relative;
	width: 380px; height: 320px;
	margin-left: 40px;
	color: var(--secondary-сolor);

	& .person__item {
		width: 100%;
		margin-bottom: 20px;
		text-align: start;
		font-size: 16px;

		&:first-child { margin-bottom: 40px; }
		&:last-child { margin-bottom: 0; }
		& .person__fullname { font-size: 36px; }
		& .person__mobile, & .person__email { display: block; }
		& .person__email {
			margin-bottom: 20px;
			text-decoration: none;
			color: var(--link);
			display: block;
			text-align: start;
		}

		& .person__mobile { text-align: start; }
	}

	&::after {
		content: '';
		position: absolute;
		top: 0; right: 0;
		width: 38px; height: 38px;
		background-image: url('../images/star_border.svg');
		cursor: pointer;
	}
}

/*=================================
	@Media
=================================*/


@media (max-width: 1400px) {
	.teachers__top .teachers__list {
		grid-template-columns: repeat(5, calc(170px + (200 - 170) * ((100vw - 768px) / (1400 - 768))));
		grid-column-gap: calc(0px + (40 - 0) * ((100vw - 768px) / (1400 - 768)));
	}
	.slider .teachers__list {
		grid-template-columns: repeat(5, calc(160px + (200 - 160) * ((100vw - 1200px) / (1400 - 1200))));
	}
	.content__body {
		padding: 40px calc(20px + (100 - 20) * ((100vw - 768px) / (1400 - 768))) 
				50px calc(20px + (100 - 20) * ((100vw - 768px) / (1400 - 768)));
	}
}

@media (max-width: 1200px) {
	.slider .teachers__list {
		grid-template-columns: repeat(4, calc(160px + (200 - 160) * ((100vw - 768px) / (1200 - 768))));
		grid-column-gap: calc(0px + (40 - 0) * ((100vw - 768px) / (1200 - 768)));
	}
	.slider .teachers__list .teachers__item:last-child { display: none; }
	.slider::before {
		left: calc(10px + (-20 + 10) * ((100vw - 768px) / (1200 - 768)));
	}
	.slider::after {
		right: calc(10px + (-20 + 10) * ((100vw - 768px) / (1200 - 768)));
	}
}

@media (max-width: 1024px) {
	.teachers__top .teachers__list {
		grid-template-columns: repeat(4, calc(190px + (200 - 190) * ((100vw - 768px) / (1024 - 768))));
	}
}

@media (max-width: 768px) {
	.content__body {
		padding: 40px 20px 50px 20px;
	}
	.slider .teachers__list {
		grid-template-columns: repeat(4, 160px);
		grid-column-gap: 0px;
	}
	.slider::before {
		left: 10px;
	}
	.slider::after {
		right: 10px;
	}
}
